@page
@using calculator.Pages
@model calculator.Pages.IndexModel
@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Clock Shop</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css">
</head>
<body>
    <header>
        <div class="leftText">
            <h1> ДИЗАЙНЕРСКИЙ ЧАСЫ </h1>
            <p> ПОЛНОСТЬЮ РУЧНОЕ ИЗГОТОВЛЕНИЕ </p>
            <button class="buyHeader buttonToChange openModel" data-price="900000"> КУПИТЬ </button>
            <dialog class="dialogMain">
                <form class="orderForm" method="post">
                    <h2>Оформление заказа</h2>
                    
                    @if (Model.successValid != "")
                    {
                        <p class="validSuccess">@Model.successValid</p>
                    }
                    else if (Model.errorValid != "")
                    {
                        <p class="validError">@Model.errorValid</p>
                    }

                    <p>
                        <label asp-for="order.NameOrder">Имя:</label>
                        <input type="text" id="name" asp-for="order.NameOrder" placeholder="Имя">
                        <span asp-validation-for="order.NameOrder" class="text-danger"></span>
                    </p>

                    <p>
                        <label asp-for="order.SecondNameOrder">Фамилия:</label>
                        <input type="text" id="SecondNameOrder" asp-for="order.SecondNameOrder" placeholder="Фамилия">
                        <span asp-validation-for="order.SecondNameOrder" class="text-danger"></span>
                    </p>

                    <p>
                        <label asp-for="order.EmailOrder">Почтовый ящик:</label>
                        <input type="email" id="email" asp-for="order.EmailOrder" placeholder="Почтовый ящик">
                        <span asp-validation-for="order.EmailOrder" class="text-danger"></span>
                    </p>

                    <p>
                        <label asp-for="order.AddressOrder">Адрес доставки:</label>
                        <input type="text" id="address" asp-for="order.AddressOrder" placeholder="Ул. Пушкино, д. 2, кв. 1">
                        <span asp-validation-for="order.AddressOrder" class="text-danger"></span>
                    </p>

                    <p>
                        <label asp-for="order.QuantityOrder">Количество:</label>
                        <input type="number" id="quantity" asp-for="order.QuantityOrder" placeholder="1">
                        <span asp-validation-for="order.QuantityOrder" class="text-danger"></span>
                    </p>

                    <p>
                        <label>Промокод:</label>
                        <input type="text" id="promo" placeholder="*Промокод*">
                    </p>

                    <p class="priceHeader"></p>
                    <button> Заказать! </button>
                </form>
                <button id="closeModel" class="closeModel">&#x2715 </button>
            </dialog>
        </div>
        <div class="rightText">
            <p> JACOB & CO <br>EPIC X TOURBILON BAGUETTE <br>900.000$</p>
            <img src="imgs/mainPhotoWatches.png">
        </div>
    </header>

    <main>
        <div class="textInMain">
            <p>ХИТЫ</p>
            <p>ПОСЛЕДНИЕ ПОСТУПЛЕНИЯ</p>
        </div>
        <div class="productsList">
            @foreach(var product in Model.products)
            {
                <div class="productUnit">
                    <img src="@product.imagePathProduct" />
                    <p>@product.NameProduct</p>
                    <p>@($"{product.CostProduct}$")</p>
                    <button class="buttonUnit buttonToChange openModel" data-price="@product.CostProduct"> Купить </button>
                </div>
            }
        </div>
        <div class="addModule orderContainer ">
            <div class="textInMain addText textOrder">
                <p>ЗАКАЗЫ</p>
            </div>
            
            <div class="orderItems">
                <div class="orderItem">
                    <p class="singleItem">Id заказа</p>
                    <p class="singleItem">Имя покупателя</p>
                    <p class="singleItem">Фамилия покупателя</p>
                    <p class="singleItem">Почта покупателя</p>
                    <p class="singleItem"> Адресс доставки</p>
                    <p class="singleItem">Количество товара</p>
                </div>
            </div>
            <div class="orderItems">
            @foreach (var order in IndexModel.orders)
            {
                <div class="orderItem">
                    <p class="singleItem">@order.orderListId</p>
                    <p class="singleItem">@order.nameCustomer</p>
                    <p class="singleItem">@order.secondNameCustomer</p>
                    <p class="singleItem">@order.mailCustomer</p>
                    <p class="singleItem"> @order.addressCustomer</p>
                    <p class="singleItem">@order.quantityCustomer</p>
                </div>
            }
            </div>
        </div>
    </main>
    <script src="~/scripts/JavaScript.js"></script>
</body>
</html>